nav{
    display: flex;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
body{
    margin: 0px;
    background-image: url(../img/pattern.png);
}
ul{
    list-style-type: none;
}
li{
    margin-right: 20px;
    display: inline;
}
a{
    text-decoration: none;
}
main{
    margin: 80px 150px 40px;
    padding: 30px;
    background-color: white;
}
footer{
    background-color: black;
    padding: 10px;
}
h1{
    text-align: center;
}
article{
    border-bottom: 1px solid black;
    margin: 10px;
}
h5{
    text-align: center;
    color: white;
}
#article-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}